<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="credit">
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <p>&copy; Bản quyền thuộc <code class="text-primary">code-coffee-team</code> 2021</p>
                <p class="mb-0">Thiết kế bởi <a href="https://startbootstrap.com/theme/sb-admin-2" target="_blank">Start Bootstrap LLC 2020</a></p>
            </div>
        </div>
    </footer>
</th:block>
</body>
</html>