<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <title>Trang chủ - code-coffee</title>
    <th:block th:replace="layout/link.html :: headerLink">
    </th:block>
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="layout/sidebar.html :: sidebar">
    </th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="layout/topbar.html :: topbar">
            </th:block>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Trang không tồn tại</p>
<!--                    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>-->
                    <a href="/">&larr; Trở về trang chủ</a>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="layout/credit.html :: credit">
        </th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<th:block th:replace="layout/link.html :: scriptImport">
</th:block>
<script>

    function pickMonth() {
        let monthPicked = $('#time-select-1').val();
        let dayOfMonth = moment(`${moment().year()}-${monthPicked}`, "YYYY-MM").daysInMonth();
        $('#datetime-hidden-1').val(`${moment().year()}-${monthPicked}-1 00:00:00`);
        $('#datetime-hidden-2').val(`${moment().year()}-${monthPicked}-${dayOfMonth} 23:59:59`);
        console.log(`crt ${monthPicked}`);
        console.log(`t1 ${$('#datetime-hidden-1').val()}`);
        console.log(`t2 ${$('#datetime-hidden-2').val()}`);
    }
</script>

<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="/js/amChart-demo.js"></script>
</body>

</html>