<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <title>Đăng nhập - code-coffee</title>
    <th:block th:replace="layout/link.html :: headerLink">
    </th:block>

</head>

<body class="bg-login">

<div class="container ">

    <!-- Outer Row -->
    <div class="row justify-content-center align-content-center vh-100">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image bg-gradient-primary"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Chào mừng đến với <code class="text-primary">code-coffee</code>
                                    </h1>
                                </div>
                                <form action="/login" method="post" class="user">
                                    <div class="form-group">
                                        <input name="username" type="text" class="form-control form-control-user"
                                               aria-describedby="emailHelp"
                                               placeholder="Tên đăng nhập là 'admin' hoặc 'order'">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control form-control-user"
                                               placeholder="Mật khẩu mặc định là '1'">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Đăng nhập
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<th:block th:replace="layout/link.html :: scriptImport">
</th:block>
</body>

</html>