<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <title>Trang đặt hàng - code-coffee</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>

    <th:block th:replace="layout/link.html :: headerLink">
    </th:block>
</head>
<body>
<!-- Topbar -->
<th:block th:replace="layout/topbar.html :: topbar">
</th:block>
<!-- End of Topbar -->

<div class="container-fluid w-95per text-break mx-h-100vh" id="order-table">
    <div class="row" id="showOrdersTables">
        <div class="col order-list" id="showOrder">
        </div>
        <div class="col table-add-form" id="showTables">
        </div>
    </div>
</div>
<div class="modal fade" id="addOrderDetailModal" tabindex="-1" role="dialog" aria-labelledby="addOrderDetailModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrderDetailModalTitle">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow: auto; max-height: calc(100vh - 210px);">
                <div class="input-group">
                    <div class="form-outline w-100 d-flex" id="menu-search">

                    </div>
                </div>
                <div id="menuOrder"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<th:block th:replace="layout/link.html :: scriptImport">
</th:block>

</body>

</html>